
    <div class="row">
        <div class="col-sm-6 well">
            <h5>Daily/Global Stats</h5>
        </div>
        <div class="col-sm-2 well imp" id="mainred">
            <div> Peak Time:</div>
            <% if (!dailyStatsList.peak.time) { %>
            Not Available
            <% } else { %>
            <%= getMinutesAgo(dailyStatsList.peak.time) %> ago
            <% } %>
        </div>
        <div class="col-sm-2 well imp" id="mainorange">
            <div> Concurrent Users:</div>
            <div><%= dailyStatsList.peak.concurrent %></div>
        </div>
        <div class="col-sm-2 well imp" id="maingreen">
            <div> Unique Users Today:</div>
            <div><%= dailyStatsList.totals.unique_users %></div>
        </div>
    </div>

    <div class="row" id="spacingBelowBox">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= dailyStatsList.totals.boosts %></h3>
                        <div>Total Boosts today</div>
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= dailyStatsList.totals.deaths %></h3>
                        <div>Total Deaths today</div>
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= secondsToHms((dailyStatsList.totals.duration).toFixed(0)) %></h3>
                        <div>Total game play time today</div>
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1 kills">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= dailyStatsList.totals.kills %></h3>
                        <div>Total Snake Kills today</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= calculatedStatsList.totals.all_time.boosts %></h3>
                        <div>Total Boosts Used Ever</div>
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= calculatedStatsList.totals.all_time.deaths %></h3>
                        <div>Total Deaths Ever</div>
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= secondsToHms((calculatedStatsList.totals.all_time.duration).toFixed(0)) %></h3>
                        <div>Total Game play time ever</div>
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1 kills">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= calculatedStatsList.totals.all_time.kills %></h3>
                        <div>Total Snake Kills ever</div>
                    </div>
                </div>
            </div>

        </div>
    </div>  <!--for row-->

    <div class="row">
        <div class="col-sm-6">
            Average Snake Score of all users graphed over 5 sec intervals
            <div id="avgSnakeLengthAllchartdiv"></div>
        </div>
        <div class="col-sm-6">
            Highest Snake Score of all users graphed over 5 second intervals
            <div id="highestSnakeLengthAllchartdiv"></div>
        </div>
    </div>

