<% include partials/header %>

<script>
    //used - instead of = cause' - "outputs the unescaped value into the template"
    var avgSnakeLengthChartData = <%- JSON.stringify(avgSnakeLengths) %>
    var highestSnakeLengthChartData = <%- JSON.stringify(highestSnakeLengths) %>
</script>

<nav class="navbar navbar-expand-sm sticky-top">
    <!-- Nav tabs -->
    <ul class="container nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="/">Back to the Game</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="profiletab" data-toggle="tab" href="#profile">USER PROFILE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="globaltab" data-toggle="tab" href="#global">GLOBAL GAMEPLAY PERFORMANCE</a>
        </li>
    </ul>
    <!-- END of Nav tabs -->
</nav>

<div class=" container tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div id="ajaxUpdateProfileStats">
            USER PROFILE STUFF

            <div class="row">
                <div class="col-md-4">
                    <div class="well" id="one">1
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well" id="two">2</div>
                        </div>
                        <div class="col-md-6">
                            <div class="well" id="three">3</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">4</div>
                        </div>
                        <div class="col-md-6">
                            <div class="well">5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="well">6</div>
                </div>
                <div class="col-md-4">
                    <div class="well">7</div>
                </div>
                <div class="col-md-4">
                    <div class="well">8</div>
                </div>
            </div>


            <div class="row">

                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total games played ever!</span>
                    <span class="value"><span><%= totalgames %></span></span>
                </div>

                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total snake length ever!</span>
                    <span class="value"><span><%= usersStatsList.totals.length %></span></span>
                </div>
                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Length of Largest snake killed</span>
                    <span class="value"><span><%= usersStatsList.records.largest_snake_killed_length %></span></span>
                </div>
            </div>  <!--row-->
            <div class="row">

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3><%= usersStatsList.best_snake.duration %></h3>
                        <h3>Time taken to get highest recorded length in a game</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3><%= usersStatsList.totals.kills %></h3>
                        <h3>Your total number of kills ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3><%= usersStatsList.totals.boosts %></h3>
                        <h3>Your total amount of boosts used ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3><%= usersStatsList.totals.deaths %></h3>
                        <h3>Total times you died(basically total games played) ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>
            </div>  <!--row-->

            <h1>Graph showing HIGHEST SNAKE LENGTH per game</h1>
            <h1>Graph showing HIGHEST KILLS per game</h1>
            <h1>Graph showing HIGHEST USE OF BOOSTS per game</h1>

            <h1>Graph showing AVERAGE SNAKE LENGTH per game</h1>
            <h1>Graph showing AVERAGE KILLS per game</h1>
            <h1>Graph showing AVERAGE USE OF BOOSTS per game</h1>


            <h1>Graph showing AVERAGE SNAKE LENGTH graphed over 5 sec intervals</h1>
            <div id="avgSnakeLengthchartdiv"></div>
            <h1>Graph showing HIGHEST SNAKE LENGTH graphed over 5 sec intervals</h1>
            <div id="highestSnakeLengthchartdiv"></div>
            <h1>Graph showing TIME OF KILLS graphed over 5 sec intervals</h1>
            <div id="timeOfKillschartdiv"></div>

        </div>

    </div> <!--tab-pane for profile-->
    <div class="tab-pane fade" id="global" role="tabpanel" aria-labelledby="global-tab">

        <div id="ajaxUpdateGlobalStats">

            GLOBAL GAMEPLAY PERFORMANCE
            STUFF


            <h2>ADD THIS?: Most users from this country</h2>
            <h2>DUPLICATE?- Total games played ever!</h2>
            <h2>REMOVE THIS?-User country breakdown(5)</h2>
            <h2>REMOVE THIS?-Peak Concurrent Users</h2>

            <div class="row">

                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total Unique Users</span>
                    <span class="value"><span>400</span></span>
                </div>

                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total time spent playing this game ever!</span>
                    <span class="value"><span>400</span></span>
                </div>
                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total games everyone played ever!</span>
                    <span class="value"><span>400</span></span>
                </div>
            </div>  <!--row-->
            <div class="row">

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total snake length ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total boosts used ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total kills ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total deaths ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

            </div>  <!--row-->

            <h1>Graph showing AVERAGE SNAKE LENGTH OF ALL USERS graphed per game</h1>
            <h1>Graph showing AVERAGE SNAKE KILLS OF ALL USERS graphed per game</h1>
            <h1>Graph showing AVERAGE SNAKE BOOSTS OF ALL USERS graphed per game</h1>

            <h1>Graph showing AVERAGE SNAKE LENGTH OF ALL USERS graphed over 5 sec intervals</h1>
            <div id="avgSnakeLengthAllchartdiv"></div>
            <h1>Graph showing HIGHEST SNAKE LENGTH OF ALL USERS graphed over 5 second intervals</h1>
            <div id="highestSnakeLengthAllchartdiv"></div>

        </div>
    </div> <!--tab-pane for global-->
</div>


<% include partials/footer %>