<% include partials/header %>

<script>
    //used - instead of = cause' - "outputs the unescaped value into the template"
    var avgSnakeLengthChartData = <%- JSON.stringify(avgSnakeLengths) %>
    var highestSnakeLengthChartData = <%- JSON.stringify(highestSnakeLengths) %>
    var timeOfKillsChartData = <%- JSON.stringify(timeOfKills) %>
    var avgSnakeLengthAllChartData = <%- JSON.stringify(avgSnakeLengthAll) %>
    var highestSnakeLengthAllChartData = <%- JSON.stringify(highestSnakeLengthAll) %>
    var duration = <%=usersStatsList.best_snake.duration%>
</script>

<nav class="navbar navbar-expand-sm sticky-top">
    <!-- Nav tabs -->
    <ul class="container nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="/">Back to the Game</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="profiletab" data-toggle="tab" href="#profile">USER PROFILE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="globaltab" data-toggle="tab" href="#global">GLOBAL GAMEPLAY PERFORMANCE</a>
        </li>
    </ul>
    <!-- END of Nav tabs -->
</nav>

<div class=" container tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div id="ajaxUpdateProfileStats">

            <div class="row">
                <div class="col-sm-2 well">
                    <% if (!usersList.snake.name) { %>
                    <div>Please play a game</div>
                    <% }else{ %>
                    <%= usersList.snake.name %>
                    <% } %>
                  <div>Last game played:</div>
                    <%=getMinutesAgo(usersStatsList.lastModifiedOn)%> ago
                </div>
                <div class="col-sm-3 well">
                    <span class="heading">Total games played ever!</span>
                    <br/>
                    <span class="value"><span><%= totalgames %></span></span>

                </div>
                <div class="col-sm-3 well">
                    <span class="heading">Total snake length ever!</span>
                    <br/>
                    <span class="value"><span><%= usersStatsList.totals.length %></span></span>
                </div>
                <div class="col-sm-4 well">
                    <span class="heading">Length of Largest snake killed</span>
                    <br/>
                    <span class="value"><span><%= usersStatsList.records.largest_snake_killed_length %></span></span>
                </div>
            </div>

            <div class="row" id="spacing">
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <br/>
                        <h3><%=secondsToHms((usersStatsList.best_snake.duration).toFixed(0))%></h3>
                        Best Time
                    </div>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <br/>
                        <h3><%= usersStatsList.totals.kills %></h3>
                        Total Kills
                    </div>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <br/>
                        <h3><%= usersStatsList.totals.boosts %></h3>
                        Total Boosts
                    </div>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <br/>
                        <h3><%= usersStatsList.best_snake.length %></h3>
                        Best Score
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= usersStatsList.records.highest_kills %></h3>
                        Highest Kills
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= usersStatsList.best_snake.boosts %></h3>
                        Best Boosts
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= (usersStatsList.totals.length / usersStatsList.totals.deaths).toFixed(0) %></h3>
                        Average Score
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= (usersStatsList.totals.kills / usersStatsList.totals.deaths).toFixed(2) %></h3>
                        Average Kills
                    </div>
                </div>
                <div class="col-sm box0">
                    <div class="box1">
                        <span class="fa fa-gamepad"></span>
                        <h3><%= (usersStatsList.totals.boosts / usersStatsList.totals.deaths).toFixed(0) %></h3>
                        Average Boosts
                    </div>
                </div>

            </div>  <!--row-->

            <div class="row">
                <div class="col-sm-6">
                    Average Snake Length over 5 sec intervals
                    <div id="avgSnakeLengthchartdiv"></div>
                </div>
                <div class="col-sm-6">
                    Highest Snake length over 5 sec intervals.
                    <div id="highestSnakeLengthchartdiv"></div>
                </div>
            </div>


        </div> <!--for ajax call-->

        <!--todo Make the graphs load with the ajax call as well-->


        <h1>Graph showing TIME OF KILLS graphed over 5 sec intervals</h1>
        <div id="timeOfKillschartdiv"></div>


    </div> <!--tab-pane for profile-->
    <div class="tab-pane fade" id="global" role="tabpanel" aria-labelledby="global-tab">

        <div id="ajaxUpdateGlobalStats">

            <div class="row">
                <div class="col-sm-4" id="one">
                    Daily/Global Stats
                    <br/>
                    <br/>
                </div>
                <div class="col-sm-4" id="one">
                    Peak Time:
                    Concurrent Users:
                </div>
                <div class="col-sm-4" id="one">
                    Unique Users Today:
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Daily Stats Records
                    Boosts:
                    Deaths:
                    Duration:
                    Kills:
                </div>
                <div class="col-sm-6">
                    Global Stats Records
                    Boosts:
                    Deaths:
                    Duration:
                    Kills:
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    Average Snake Length of all users graphed over 5 sec intervals
                    <div id="avgSnakeLengthAllchartdiv"></div>
                </div>
                <div class="col-sm-6">
                    Highest Snake length of all users graphed over 5 second intervals
                    <div id="highestSnakeLengthAllchartdiv"></div>
                </div>
            </div>

            GLOBAL GAMEPLAY PERFORMANCE
            STUFF


            <h2>ADD THIS?: Most users from this country</h2>
            <h2>DUPLICATE?- Total games played ever!</h2>
            <h2>REMOVE THIS?-User country breakdown(5)</h2>
            <h2>REMOVE THIS?-Peak Concurrent Users</h2>

            <div class="row">

                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total New Users today</span>
                    <span class="value"><span>400</span></span>
                </div>

                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total time spent playing this game ever!</span>
                    <span class="value"><span>400</span></span>
                </div>
                <div class="col-sm rad-info-box">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <span class="heading">Total games everyone played ever!</span>
                    <span class="value"><span>400</span></span>
                </div>
            </div>  <!--row-->
            <div class="row">

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total snake length ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total boosts used ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total kills ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

                <div class="col-sm box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>933</h3>
                        <h3>Total DEATHS ever!</h3>
                    </div>
                    <p>933 People liked your page the last 24hs. Whoohoo!</p>
                </div>

            </div>  <!--row-->

            <h1>AVERAGE SNAKE LENGTH OF ALL USERS graphed per game</h1>
            <h1>AVERAGE SNAKE KILLS OF ALL USERS graphed per game</h1>
            <h1>AVERAGE SNAKE BOOSTS OF ALL USERS graphed per game</h1>

        </div> <!--for ajax call-->

    </div> <!--tab-pane for global-->
</div>


<% include partials/footer %>